<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ebuy Admin</title>
    <link rel="shortcut icon" type="image/png" href="../Assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="../Assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <%- include('./Includes/sideMenu.ejs')%>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <%- include('./Includes/Header.ejs')%>

            <!--  Header End -->
            <div class="container-fluid">
                <!-- Button to trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#couponModal">
                    Add Coupon
                </button>
                <div class="container mt-5">
                    <h1>Coupon Management</h1>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Code</th>
                                <th>Discount (%)</th>
                                <th>Status</th>
                                <th>Date of Start</th>
                                <th>Expiration Date</th>
                                <th>Minimum Purchase</th>
                                <th>Maximum Purchase</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% coupons.forEach(coupon=> { %>
                                <tr>
                                    <td>
                                        <%= coupon._id %>
                                    </td>
                                    <td>
                                        <%= coupon.code %>
                                    </td>
                                    <td>
                                        <%= coupon.discount %>
                                    </td>
                                    <td>
                                        <%= coupon.status %>
                                    </td>
                                    <td>
                                        <%= coupon.dateOfStart.toLocaleDateString() %>
                                    </td>
                                    <td>
                                        <%= coupon.expirationDate.toLocaleDateString() %>
                                    </td>
                                    <td>
                                        <%= coupon.minimumPurchase.toLocaleString() %>
                                    </td>
                                    <td>
                                        <%= coupon.maximumPurchase===null ? 'None' :
                                            coupon.maximumPurchase.toLocaleString() %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- ============================Edit modal======================================================= -->
            <div class="modal fade" id="editCouponModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Coupon Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>ID: <span id="modalCouponId"></span></p>
                            <p>Code: <span id="modalCouponCode"></span></p>
                            <p>Discount (%): <span id="modalCouponDiscount"></span></p>
                            <p>Status: <span id="modalCouponStatus"></span></p>
                            <p>Date of Start: <span id="modalCouponDateOfStart"></span></p>
                            <p>Expiration Date: <span id="modalCouponExpirationDate"></span></p>
                            <p>Minimum Purchase: <span id="modalCouponMinimumPurchase"></span></p>
                            <p>Maximum Purchase: <span id="modalCouponMaximumPurchase"></span></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ======================modal================================-->

            <!-- Modal -->
            <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Coupon Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="code">Code</label>
                                    <input type="text" class="form-control" id="code" required>
                                    <small id="codeError" class="text-danger"></small> <!-- Placeholder for error message -->
                                </div>
                                <div class="form-group">
                                    <label for="discount">Discount (%)</label>
                                    <input type="number" class="form-control" id="discount" required>
                                    <small id="discountError" class="text-danger"></small> <!-- Placeholder for error message -->
                                </div>
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <select class="form-control" id="status">
                                        <option value="Active">Active</option>
                                        <option value="Expired">Expired</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="dateOfStart">Date of Start</label>
                                    <input min=<%= new Date().toISOString().split('T')[0] %> type="date" class="form-control" id="dateOfStart" required>
                                    <small id="dateOfStartError" class="text-danger"></small> <!-- Placeholder for error message -->
                                </div>
                                <div class="form-group">
                                    <label for="expirationDate">Expiration Date</label>
                                    <input type="date" class="form-control" id="expirationDate" required>
                                    <small id="expirationDateError" class="text-danger"></small> <!-- Placeholder for error message -->
                                </div>
                                <div class="form-group">
                                    <label for="minimumPurchase">Minimum Purchase</label>
                                    <input type="number" class="form-control" id="minimumPurchase" value="2000">
                                    <small id="minimumPurchaseError" class="text-danger"></small> <!-- Placeholder for error message -->
                                </div>
                                <div class="form-group">
                                    <label for="maximumPurchase">Maximum Purchase</label>
                                    <input type="number" class="form-control" id="maximumPurchase" value="50000">
                                    <small id="maximumPurchaseError" class="text-danger"></small> <!-- Placeholder for error message -->
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="saveCoupon()">Save Coupon</button>
                        </div>
                    </div>
                </div>
            </div><script>
    document.getElementById('dateOfStart').addEventListener('change', function() {
    var selectedDate = this.value; // Get the selected date of start

    // Set the minimum value of expirationDate to the selected date of start
    document.getElementById('expirationDate').min = selectedDate;
});

</script>
    

<script>
    async function saveCoupon() {
    const code = document.getElementById('code').value.trim();
    const discount = parseFloat(document.getElementById('discount').value);
    const status = document.getElementById('status').value;
    const dateOfStart = document.getElementById('dateOfStart').value;
    const expirationDate = document.getElementById('expirationDate').value;
    const minimumPurchase = parseFloat(document.getElementById('minimumPurchase').value);
    const maximumPurchase = parseFloat(document.getElementById('maximumPurchase').value);

    // Clear previous error messages
    document.getElementById('codeError').textContent = '';
    document.getElementById('discountError').textContent = '';
    document.getElementById('dateOfStartError').textContent = '';
    document.getElementById('expirationDateError').textContent = '';
    document.getElementById('minimumPurchaseError').textContent = '';
    document.getElementById('maximumPurchaseError').textContent = '';

    if (code.length > 6) {
        if (discount > 0) {
            if (dateOfStart) {
                if (!/\s/.test(code)) { // Check for spaces in code
                    fetch('save_coupon', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            code,
                            discount,
                            status,
                            dateOfStart,
                            expirationDate,
                            minimumPurchase,
                            maximumPurchase,
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success === true) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Data Saved',
                                text: 'Coupon Created Successfully',
                                confirmButtonText: 'OK',
                                timer: 1000,
                            }).then((result) => {
                                window.location.href = '/admin/Coupon-Management';
                            });
                        } else if (data.duplicate === false) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error!',
                                text: 'Coupon Already Exists',
                                confirmButtonText: 'OK'
                            });
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                } else {
                    document.getElementById('codeError').textContent = 'Spaces are not allowed in code';
                }
            } else {
                document.getElementById('dateOfStartError').textContent = 'Enter Start Date';
            }
        } else {
            document.getElementById('discountError').textContent = 'Enter Discount';
        }
    } else {
        document.getElementById('codeError').textContent = 'Code should be 6 characters';
    }
}

</script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Bootstrap JS (including Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>