<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Category Management</title>
  <link rel="shortcut icon" type="image/png" href="../Assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../Assets/css/styles.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <%- include('./includes/sideMenu.ejs')%>

    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
     
      <!--  Header End -->
      <!-- ===========Start of Catogory card=================================================================================================================== -->

      <div class="container mt-5">
        <h1>Order Management</h1>
        <table id="myTable" class="table" border="1">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Customer Name</th>
              <th>Quantity</th>
              <th>Total Price</th>
              <th>Payment Status</th>
              <th>Status</th>
              <th>More Action</th>
            </tr>
          </thead>
          <tbody>
            <% Orders.forEach(function(order) { %>
              <tr>
                <td>
                  <%= order.OrderId %>
                </td>
                <td>
                  <%= order.user ? order.user.name : 'N/A' %>
                </td>
                
                <td>
                  Total Quantity:
                  <% let totalQuantity=0; %>
                    <% order.items.forEach(function(item) { %>
                      <% totalQuantity +=item.quantity; %>
                        <% }); %>
                          <%= totalQuantity %>
                </td>
                <td>₹<%= order.items[0].total %>
                </td>
                <td>
                  <%= order.paymentStatus %>
                </td>
                <td>
                  <% if (order.status==='Shipped' ) { %>
                    <span class="badge badge-success">Shipped</span>
                    <% } else if (order.status==='Pending' ) { %>
                      <span class="badge badge-warning">Pending</span>
                      <% } else if (order.status==='CANCELLED' ) { %>
                        <span class="badge badge-danger">Cancelled</span>
                        <% } else if (order.status==='Return-Req' ) { %>
                          <span class="badge badge-info">Return Request</span>
                          <% } else if (order.status==='Return Accepted' ) { %>
                            <span class="badge badge-primary">Return Accepted</span>
                            <% } else { %>
                              <span class="badge badge-secondary">
                                <%= order.status %>
                              </span>
                              <% } %>

                </td>
                <td>
                  <a href="/admin/order-details/<%= order._id %>" class="btn btn-info">View Details</a>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>


      <!-- ===================================================================================================================================== -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

      <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
      <script>
        $(document).ready(function () {
          $.noConflict();
          $('#myTable').DataTable({
            "paging": true,          // Enable pagination
            "pageLength": 25,        // Number of rows per page
            "lengthMenu": [10, 25, 50, 75, 100],  // Dropdown options for rows per page

          });
        });
      </script>
      <script src="../Assets/libs/jquery/dist/jquery.min.js"></script>
      <script src="../Assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="../Assets/js/sidebarmenu.js"></script>
      <script src="../Assets/js/app.min.js"></script>
      <script src="../Assets/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>