<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
        <title>My Cart</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="./Assets/css/cart.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../Assets/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="../Assets/css/slick.css"/>
        <link type="text/css" rel="stylesheet" href="../Assets/css/slick-theme.css"/>
        <link type="text/css" rel="stylesheet" href="../Assets/css/nouislider.min.css"/>
        <link rel="stylesheet" href="../Assets/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="../Assets/css/style.css"/>

    
    </head>
    <body>
        <!-- HEADER -->
        <%- include('../Includes/Header.ejs')%>
        <!-- /HEADER -->

        <!-- NAVIGATION -->
        <nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
        <!-- /NAVIGATION -->

<!-- ===================================================================================================================================================================================================== -->

<% if (cart.length) { %>
    <div class="container-fluid">
        <div class="row">
            <!-- Cart items -->
            <div class="col-md-8">
                <div class="row mt-5 gx-3">
                    <% cart.forEach(function(cart,index) { %>
                        <div class="col-12 mb-4">
                            <!-- Cart item card with reduced width and aligned to the right -->
                            <div class="card shadow" style="max-width: 750px; margin-left: auto;">
                                <div class="card-body">
                                    <div class="row">
                                        <!-- Product image -->
                                        <div class="col-md-3">
                                            <img src="../Admin/images/<%= cart.carted.images[0] %>" class="img-fluid" alt="cart img">
                                        </div>
                                        <!-- Product details -->
                                        <div class="col-md-6">
                                            <h3 class="mb-2 product_name"><%= cart.carted.name %></h3>
                                            <p>Quantity:</p>
                                            <div class="d-flex align-items-center">
                                                <button class="btn btn-secondary btn-sm" onclick="editQuantity('<%= cart._id %>','<%=cart.item%>','<%=user._id%>','<%=index%>',-1)">-</button>
                                                <!-- <input type="text" class="form-control text-center" value="<%= cart.quantity %>" style="width: 50px;"> --><input type="number" name="qty" id="qty-val-<%= cart.item %>" maxlength="12" title="Quantity:" readonly
                                                class="qty-val" value="<%= cart.quantity %>" style="width: 50px;">
                                                <button class="btn btn-secondary btn-sm" onclick="editQuantity('<%= cart._id %>','<%=cart.item%>','<%=user._id%>','<%=index%>',1)">+</button>
                                            </div>
                                            <p id="subTotal-<%=cart.item%>" class="subTotalVal">Price: ₹<%= cart.total %></p>
                                        </div>
                                    </div>
                                    <!-- Remove button -->
                                    <div class="d-flex justify-content-end mt-3">
                                        <button class="btn btn-danger" onclick="deleteProduct('<%= cart._id %>','<%= cart.item %>','<%= cart.quantity %>')">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <!-- Total and Checkout Section -->
            <div class="col-md-4">
                <div class="right_side p-3 shadow bg-white">
                    <h2 class="product_name mb-5">The Total Amount Of</h2>
                    <div class="price_indiv d-flex justify-content-between">
                        <p>Product amount</p>
                        <p id="total">₹<span id="product_total_amt"><%=cartTotal%></span></p>
                    </div>
                    <div class="price_indiv d-flex justify-content-between">
                        <p>Shipping Charge</p>
                        <p><span id="shipping_charge">free</span></p>
                    </div>
                    <hr />
                    <div class="total-amt d-flex justify-content-between font-weight-bold">
                        <p>The total amount of (including VAT)</p>
                        <p id="total1">₹<span id="total_cart_amt"><%=cartTotal%></span></p>
                    </div>
                    <!-- Checkout button aligned to the right -->
                    <div class="text-right mt-3">
                        <a href="Checkout"><button class="btn btn-primary text-uppercase">Checkout</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } else{ %>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <!-- Image -->
                        <img src="./Assets/img/empty-cart.svg" class="img-small h-200 h-md-300 mb-3" style="max-width: 300px; min-height: 300px;" alt="">
                        <!-- Subtitle -->
                        <h2>Your cart is currently empty</h2>
                        <!-- info -->
                        <p class="mb-0">I think the below button is important. Hit this button and you will find a lot of interesting products on our "Shop" page</p>
                        <!-- Button -->
                        <a href="/" class="btn btn-primary mt-4 mb-0">Back to Shop</a>
                    </div>
                </div>
            </div>
        </section>
        <% } %>
    
    





<!-- ============================================================================================================ -->
    




        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->

        <!-- NEWSLETTER -->
        <div id="newsletter" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="newsletter">
                            <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                            <form>
                                <input class="input" type="email" placeholder="Enter Your Email">
                                <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                            </form>
                            <ul class="newsletter-follow">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /NEWSLETTER -->

        <!-- FOOTER -->
        <%- include('../Includes/Footer.ejs')%>
        <!-- /FOOTER -->

<script>

        function editQuantity(cartId, proId, userId, index, count) {
            console.log(cartId, proId, userId, index, count);
            const quantity = document.getElementById(`qty-val-${proId}`).value
            count = parseInt(count)
            if (quantity == 1 && count == -1) {
              Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                timer: 3000
              }).then((result) => {
                if (result.isConfirmed) {
                  $.ajax({
                    url: 'editQuantity',
                    method: 'PUT',
                    data: {
                      cartId: cartId,
                      proId: proId,
                      userId: userId,
                      count: count,
                      quantity: quantity
                    },
                    success: (response) => {
                      console.log(response.status,'ll');
                      if (response.status) {
                        location.reload()
        
                      }
                    }
                  })
                }
              })
            } else {
              $.ajax({
                url: 'editQuantity',
                method: 'PUT',
                data: {
                  cartId: cartId,
                  proId: proId,
                  userId: userId,
                  count: count,
                  quantity: quantity,
                },
                success: (response) => {
                  if (response.status==true) {
                    const qtyElem = document.querySelector(`#qty-val-${proId}`);
                    qtyElem.value = response.newQuantity;
                    const subTotalVal = document.querySelector(`#subTotal-${proId}`);
                    console.log("Subtotal;"+subTotalVal)
                    subTotalVal.innerHTML = response.newSubTotal;
                    document.getElementById('total').innerHTML = response.cartTotal;
                    document.getElementById('total1').innerHTML = response.cartTotal;
                    
                  }
                  else if(response.status=='outOfStock'){
                    Swal.fire({
                icon: 'warning',
                title: 'Out of Stock',
                showConfirmButton: false,
                timer : 4000
              });
    
                  }
                }
              })
            }
        
          }
  
          function deleteProduct(cartId, proId,quantity) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
        timer: 3000
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: 'deleteProduct',
            method: 'DELETE',
            data: {
              cartId: cartId,
              proId: proId,
              quantity,quantity
            },
            success: (response) => {
              if (response.status) {
                location.reload()
              }
            }
          })
        }
      })
  
    }
          </script>
        <!-- jQuery Plugins -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.all.min.js"></script>

        
    </body>
</html>