<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile and Address Management</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center" style="max-height: 270px;">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="avatar"
                                class="rounded-circle img-fluid" style="width: 90px;">
                            <h5 class="my-3"><%=userData.name%></h5>
                            <p class="text-muted mb-1">Full Stack Developer</p>
                            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="/logout"><button type="button" class="btn btn-outline-danger btn-sm">LogOut</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                                <span class="fs-4">Settings</span>
                                <hr>
                                <ul class="nav nav-pills flex-column mb-auto">
                                    <li class="nav-item">
                                        <a href="http://localhost:3000/MyAccount" class="nav-link link-dark" aria-current="page">
                                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                                            Dashboard
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="http://localhost:3000/MyAccount-address" class="nav-link link-dark">
                                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                                            Address Management
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="http://localhost:3000/Order-histoty" class="nav-link active">
                                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                                            Orders
                                        </a>
                                    </li>
                                    <li>
                                      <a href="My-Wallet" class="nav-link link-dark">
                                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                                        My Wallet
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link link-dark">
                                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                                            Customers
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-8" >
                        <div class="card-body" >
                            <!-- ================================================= -->
                            <% orders.forEach(function(order,index) { %>
                                <div class="container">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <h2>Order <%=index+1 %></h2>
                                      <table class="table table-bordered">
                                        <tbody>
                                          <tr>
                                            <th>Order Date</th>
                                            <td><%= order.createdAt.toDateString() %></td>
                                          </tr>
                                          <tr>
                                            <th>Total</th>
                                            <td>₹<%= order.total %></td>
                                          </tr>
                                          <tr>
                                            <th>you Saved</th>
                                            <td>₹<%= order.discountAmount %></td>
                                          </tr>
                                          <tr>
                                            <th>Applied Coupon</th>
                                            <td><%= order.discountCoupon %></td>
                                          </tr>
                                          <tr>
                                            <th>Payment Status</th>
                                            <td><%= order.paymentStatus %></td>
                                          </tr>
                                          <tr>
                                            <th>Ship to</th>
                                            <td>
                                              <% if (order.address) { %>
                                                <%= order.address.name %>
                                                <br>
                                                <%= order.address.address %>
                                              <% } else { %>
                                                N/A
                                              <% } %>
                                            </td>
                                          </tr>
                                          <tr>
                                            <th>Order #</th>
                                            <td><%= order.OrderId %></td>
                                          </tr>
                                          <tr>
                                            <th>Order Status</th>
                                            <td><%= order.status %></td>
                                          </tr>
                                          <!-- Add more rows for other order details -->
                                        </tbody>
                                      </table>
                                      <h3>Items</h3>
                                      <ul>
                                        <% order.items.forEach(function(item) { %>
                                          <li>
                                            <strong><%= item.productDetails.name %></strong><br>
                                            Quantity: <%= item.quantity %><br>
                                            Price: ₹<%= item.total %>
                                          </li>
                                        <% }); %>
                                      </ul>
                                      <% if(order.status=='Pending'){ %>
                                      <form action="/cancel_order" method="post" class="d-inline" onsubmit="return confirmCancel()">
                                        <input type="hidden" name="order_id" value="<%= order._id %>">
                                        <button type="submit" class="btn btn-sm btn-danger">Cancel Order</button>
                                    </form>
                                    <% }%>  
                                    </div>
                                  </div>
                                </div>
                                <hr>
                              <% }); %>
                              
                              
                              
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </section>
    <script>
      function confirmCancel() {
          return confirm("Are you sure you want to cancel this order?");
      }
  </script>
    <!-- Include Bootstrap JS and Popper.js for Bootstrap functionality -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
